{% extends 'base.html.twig' %}

{% block title %}Edit PhoneType{% endblock %}

{% block body %}
    <h1>Edit PhoneType</h1>

    {{ include('phone_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('phone_type_index') }}" class="btn btn-secondary float-left">back to list</a>
{% endblock %}
